<nav *ngIf="!hideNavbar" class="bg-gray-800 sticky top-0">
  <div class="max-w-7xl mx-auto px- sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16 mx-1">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex items-center justify-between cursor-pointer">
            <div class="flex items-center">
              <img class="h-8 w-8 sm:hidden absolute left-0 pl-2 cursor-pointer" src="../../assets/img/search.svg" alt="Search icon" (click)="toggleMobileSearch()" style="filter: invert(100%) sepia(1%) saturate(737%) hue-rotate(11deg) brightness(119%) contrast(100%);">
              
              <div *ngIf="showSearchInput && innerWidth <= 640" class="sm:hidden absolute top-16 bg-gray-700 transform left-0 text-xl font-extrabold text-white text-center w-full rounded-lg py-2">
                <section>
                  <input [(ngModel)]="searchInput" (ngModelChange)="searchInputChanged()" class="bg-gray-700 text-center focus:outline-none focus:shadow-outline" type="text" placeholder="Search user" aria-label="Search" #search>
                </section>
                <section *ngIf="searchInput" class="p-2 border-t border-gray-600">
                  <div [routerLink]="'/user/test'" *ngFor="let user of uService.searchedUsers">
                    <p>{{ user.displayName }}</p>
                  </div>
                  <div *ngIf="!uService.searchedUsers.length">
                    <p>No users found</p>
                  </div>
                </section>
              </div>
          </div>

          <div routerLink="/">
            <div class="flex items-center space-x-4">
              <img class="cursor-pointer block h-8 w-auto"
              src="../../assets/img/logo.svg" style="height: 2rem" alt="Workflow">
              <p class="text-white font-black italic text-xl hidden md:flex">Artnet</p>
            </div>
          </div>

            <div class="hidden sm:flex flex-col text-gray-600 m-4">
              <div>
                <input [(ngModel)]="searchInput" (ngModelChange)="searchInputChanged()" class="border-2 border-gray-300 bg-white h-10 px-5 pr-5 rounded-lg text-sm focus:outline-none"
                type="search" name="search" placeholder="Search User" autocomplete="off">
              </div>
              <div>
                <section *ngIf="searchInput" class="text-white w-56 ml-0.5 rounded absolute p-2 border-t bg-gray-700 border-gray-600">
                    <div class="p-2" *ngFor="let user of uService.searchedUsers">
                      <a (click)="log('test')" routerLink='/user/test'>
                        <p>{{ user.displayName }}</p>
                      </a>
                    </div>
                  <div *ngIf="!uService.searchedUsers.length">
                    <p>No users found</p>
                  </div>
                </section>
              </div>
            </div>
        </div>
      </div>
      <div class="absolute right-0 flex items-center justify-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <!-- user logged in view -->
        <div *ngIf="auth.loginPersistence; else notLoggedIn" class="ml-3 relative">
          <div (click)="setShowProfile()">
            <button type="button"
              class="bg-gray-800 flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
              id="user-menu-button" aria-expanded="false" aria-haspopup="true">
              <span class="sr-only">Open user menu</span>
              <img *ngIf="!auth.user?.photoURL" class="h-8 w-8 rounded-full"
                src="https://www.acumarketing.com/acupuncture-websites/wp-content/uploads/2020/01/anonymous-avatar-sm.jpg"
                alt="avatar image">
              <img *ngIf="auth.user?.photoURL" class="h-8 w-8 rounded-full" [src]="auth.user?.photoURL" alt="User icon">
              <p class="text-white ml-3 hidden sm:flex">
                {{ auth.user?.displayName }}
              </p>
            </button>
          </div>

          <div *ngIf="showProfile"
            class="cursor-pointer origin-top-right absolute right-0 mt-2 w-28 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <a (click)="setShowProfile()" [routerLink]="['/profile']" class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
            <a (click)="setShowProfile();requestLogout()" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
              tabindex="-1" id="user-menu-item-2">Sign out</a>
          </div>
        </div>
        <!-- end of user logged in view -->

        <!-- user not signed in specific view-->
        <ng-template #notLoggedIn>
          <div class="ml-3 relative">
            <button routerLink="/profile"
              class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
              Sign In
            </button>
          </div>
        </ng-template>
        <!-- end of user not signed in specific view-->
      </div>
    </div>
  </div>
</nav>