<div class="flex items-center justify-center px-1 mb-4">
  <div class="w-full max-w-lg mx-auto border-gray-500 rounded-lg border-2 shadow-lg">
    <div class="flex justify-between items-center">
      <h1 class="text-lg px-4 font-medium">{{ author }}</h1>

      <div class="relative">
        <img (click)="setOptions()" class="w-10 h-10 pr-4 pt-1 cursor-pointer" src="../../assets/img/more.svg" />

        <div *ngIf="options && postOwner" class="flex items-center justify-center border-2 border-black cursor-pointer origin-top-center absolute top-0 mt-8 w-40 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
          <div class="flex" (click)="deletePost(); setOptions()">
            <img class="w-9 h-9 py-1" src="../../assets/img/delete.svg" alt="Delete Icon">  
            <button class="block px-4 pl-1 py-2 text-base text-gray-700"
                role="menuitem" tabindex="-1" id="user-menu-item-0">Delete Post</button>
          </div>
        </div>
      </div>
    </div>
    
    <!-- file handler -->
    <div *ngIf="post.file" class="w-full h-108">
      <img *ngIf="post.fileType.includes('image/')" class="object-cover w-full h-96 mt-2 border-black" [src]="post.file" alt="Image of the post" />
      <audio *ngIf="post.fileType.includes('audio/')" class="w-full" onmouseover="this.play()" onmouseout="this.pause()" controls>  
        <source [src]="post.file">
      </audio>
      <video *ngIf="post.fileType.includes('video/')" onmouseover="this.play()" onmouseleave="this.pause()" controls>
        <source [src]="post.file">
      </video>
      
      <embed class="w-full h-96 mt-2 border-black" *ngIf="post.fileType === 'application/pdf'" [src]="safeUrl" type="application/pdf" />
    </div>

    <div class="flex items-center text-center justify-between px-4 py-2 bg-gray-100 rounded-b-lg">
      <h2>{{ post.caption }}</h2>
    </div>
    <div class="px-4 py-2 flex justify-between">
      <div class="flex space-x-3">
        <!-- like -->

        <div *ngIf="post" (click)="auth.user ? setLike() : needAuth()" class="cursor-pointer">
          <svg *ngIf="post.liked" fill="#ed4956" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
          <svg *ngIf="!post.liked" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
          <p class="text-center">{{ post.likes }}</p>
        </div>
  
        <!-- comment -->
        <div>
          <svg class="cursor-pointer" (click)="commentInput.select()" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z" fill-rule="evenodd"></path></svg>
          <p class="text-center">{{ post.nbComments }}</p>
        </div>
      </div>

      <!-- save -->
      <div *ngIf="post" (click)="setSave()" class="cursor-pointer">
        <svg *ngIf="post.saved" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 28.9 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1z"></path></svg>
        <svg *ngIf="!post.saved" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M43.5 48c-.4 0-.8-.2-1.1-.4L24 29 5.6 47.6c-.4.4-1.1.6-1.6.3-.6-.2-1-.8-1-1.4v-45C3 .7 3.7 0 4.5 0h39c.8 0 1.5.7 1.5 1.5v45c0 .6-.4 1.2-.9 1.4-.2.1-.4.1-.6.1zM24 26c.8 0 1.6.3 2.2.9l15.8 16V3H6v39.9l15.8-16c.6-.6 1.4-.9 2.2-.9z"></path></svg>
      </div>
    </div>

    <!-- comments and comment section -->
    <div *ngFor="let comment of post.comments" class="px-4 pb-2">
      <div class="flex justify-between items-center">
        <div class="flex space-x-3">
          <p class="text-bold font-bold">
            {{ comment.creatorDisplayName ? comment.creatorDisplayName : comment.author }}
          </p>
          <p class="">
            {{ comment.content }}
          </p>
        </div>
        <div>
          <div class="flex items-center">
            <div class="relative" *ngIf="comment.creator === auth.user?.uid">
              <img (click)="setCommentOptions(comment, comment.options)" class="w-10 h-10 pr-4 cursor-pointer" src="../../assets/img/more.svg" />
            
              <div (click)="deleteComment(comment)" *ngIf="comment.options" class="flex items-center justify-center border-2 border-black cursor-pointer origin-top-right absolute top-0 mt-8 -ml-24 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                <img class="w-9 h-9 py-1" src="../../assets/img/delete.svg" alt="Delete Icon">  
                <button class="block px-4 pl-1 py-2 text-base text-gray-700"
                  role="menuitem" tabindex="-1" id="user-menu-item-0">Delete Comment</button>
              </div>
            </div>
            <div (click)="setCommentLike(comment)" class="cursor-pointer flex items-center">
              <p class="pr-2">
                {{ comment.nblikes }}
              </p>
              <svg *ngIf="comment.liked" fill="#ed4956" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
              <svg *ngIf="!comment.liked" fill="#262626" height="24" role="img" viewBox="0 0 48 48" width="24"><path d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"></path></svg>
            </div>
          </div>
        </div>
      </div>

      <!-- separator between comment and reply -->
      <div *ngIf="comment.replies && comment.replies.length" class="flex items-center space-x-2">
        <div class="w-8 border-b-2 justify-self-start border-gray-300"></div>
        <p class="text-gray-400">Replies</p>
      </div>

      <div *ngFor="let reply of comment.replies" class="pl-10">
        <div>
          <div class="flex space-x-3">
            <p class="text-bold font-bold">
              {{ reply.creator }}
            </p>
            <p class="">
              {{ reply.content }}
            </p>
          </div>
          <img src="" alt="">
        </div>
      </div>
    </div>
    <section class="flex w-full border-t-2 border-gray-300 px-2 py-1">
      <div class="w-full flex ">
        <input #commentInput (focus)="auth.user ? null : needAuth()" [(ngModel)]="comment" class="pl-2 w-full text-lg rounded-lg focus:outline-none" placeholder="Add a comment...">
        <button (click)="addComment()" *ngIf="comment.length" class="p-1 text-center text-lg text-blue-600 font-semibold">Comment</button>
        <button *ngIf="!comment.length" class="cursor-default font-semibold p-1 text-center text-lg text-blue-200">Comment</button>
      </div>
    </section>
    <!-- end of comment section -->

  </div>
</div>
