<div class="flex items-center justify-center mt-2 px-1">
  <div class="max-w-md w-full space-y-8">
    <div>
      <!-- post box creation -->
      <div *ngIf="auth.loginPersistence; else notLoggedIn"class="border-2 border-black p-3 rounded-lg">
        <textarea [(ngModel)]="caption" type="input" placeholder="Create a post..." class="w-full p-2 focus:outline-none focus:ring-2 focus:ring-gray-300 text-xl"></textarea>
        <div class="flex justify-between">
          <!-- file area -->
          <div class="flex items-center justify-center">
            <input type="file" class="hidden" #fileUpload (change)="onFileSelected($event)" />
            <p class="max-w-xs">{{ fileName ? (fileName.length > 24 ? fileName.substring(0,24) + '...' : fileName) : "No file selected"}}</p>
            <button (click)="fileUpload.click()"> 
              <i class="fa fa-cloud-upload-alt fa-2x pl-2"></i>
            </button>
          </div>
          <button (click)="submitPost(caption)" class="bg-green-500 justify-self-end hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded">Create Post</button>
        </div>
      </div>

      <!-- case user is not connected -->
      <ng-template #notLoggedIn>
        <div class="border-2 border-black p-3 rounded-lg">
          <textarea type="input" placeholder="Please login to create a post" class="w-full p-2 focus:outline-none focus:ring-2 focus:ring-gray-300 text-xl"></textarea>
          <div class="flex justify-end">
            <button disabled class="bg-gray-500 justify-self-end text-white font-bold py-2 px-4 border-b-4 border-gray-700 rounded">Create Post</button>
          </div>
        </div>
      </ng-template>
    </div>
    <app-posts [posts]="postsService.posts"></app-posts>
  </div>
</div>